section {
    width: 90vw;
    margin: 5rem auto;
    max-width: var(--max-width);
}

.underline {
    width: 5rem;
    height: 0.25rem;
    margin-bottom: 1.25rem;
    background: var(--clr-primary-5);
    margin: 0 auto;
}

.title {
    margin-bottom: 4rem;
    text-align: center;
}

.job-info h3 {
    font-weight: 400;
  }

.job-info h4 {
    text-transform: uppercase;
    color: var(--clr-grey-1);
    background: var(--clr-grey-10);
    display: inline-block;
    padding: 0.375rem 0.75rem;
    border-radius: var(--radius);
}

.job-date {
    letter-spacing: var(--spacing);
}

.job-desc {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 2rem;
    align-items: center;
    margin-bottom: 1.25rem;
}

.job-desc p {
    margin-bottom: 0;
    color: var(--clr-grey-1);
    max-width: 60vw;
}

.job-icon {
    color: var(--clr-primary-5);
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}


.job-center {
    width: 90vw;
    display: grid;
    grid-template-columns: 150px 1fr;
    column-gap: 3rem;
}

.job-btn {
    background: transparent;
    border-color: transparent;
    text-transform: capitalize;
    font-size: 1.25rem;
    letter-spacing: var(--spacing);
    margin: 0 0.5rem 1rem;
    transition: var(--transition);
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    outline-color: var(--clr-primary-10);
}

.job-btn:hover {
    color: var(--clr-primary-5);
    box-shadow: -2px 0 var(--clr-primary-5);
}

.active-btn {
    color: var(--clr-primary-5);
    box-shadow: -2px 0 var(--clr-primary-5);
}